[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/application"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/application
	url = https://github.com/aplatform64/application.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/automation"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/automation
	url = https://github.com/aplatform64/automation.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/backup"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/backup
	url = https://github.com/aplatform64/backup.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/cloud"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/cloud
	url = https://github.com/aplatform64/cloud.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/container"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/container
	url = https://github.com/aplatform64/container.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/database"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/database
	url = https://github.com/aplatform64/database.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/development"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/development
	url = https://github.com/aplatform64/development.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/devops"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/devops
	url = https://github.com/aplatform64/devops.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/hardware"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/hardware
	url = https://github.com/aplatform64/hardware.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/hypervisor"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/hypervisor
	url = https://github.com/aplatform64/hypervisor.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/infrastructure"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/infrastructure
	url = https://github.com/aplatform64/infrastructure.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/monitor"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/monitor
	url = https://github.com/aplatform64/monitor.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/network"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/network
	url = https://github.com/aplatform64/network.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/security"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/security
	url = https://github.com/aplatform64/security.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/storage"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/storage
	url = https://github.com/aplatform64/storage.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/system"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/system
	url = https://github.com/aplatform64/system.git
[submodule "/home/serdigital64/github/aplatform64/collections/serdigital64/web"]
	path = /home/serdigital64/github/aplatform64/collections/serdigital64/web
	url = https://github.com/aplatform64/web.git
