#
# GIT Ignore
#
# * Template version: 1.0.1
#

.tmp/*
.var/*

# VScode
.vscode
*.code-workspace

# Builds for prod/dev/test
build/*

# Dev libs. Dynamic content update at dev time
lib/*

# Secrets
.secrets

# Local variables
.local

# Keep placeholder for empty directories
!/**/.gitkeep

#
# Tools
#

.git-secrets

# Not included in the main repo. Each collection has its own GIT repository
collections/serdigital64/*
