#
# Project
#

.tmp/*
.cache/*
.var/*

# VScode
.vscode/*
*.code-workspace

# Builds for prod/dev/test
dist/*
build/*

# Secrets
.secrets
.git-secrets

# Local variables
.local

# Keep placeholder for empty directories
!/**/.gitkeep

#
# Tools
#
