#
# GIT Ignore
#
# * Template version: 1.1.0
#

# VScode
.vscode
*.code-workspace

# Code build
build/*

# Dev-time tools
lib/*

# Dev-time temporary files
tmp/*

# Secrets
.secrets

# Local variables
.local

# Keep placeholder for empty directories
!/**/.gitkeep

#
# Project specific exclusions
#

# Not included in the main repo. Each collection has its own GIT repository
collections/serdigital64/*
