---
extends: default

ignore:

yaml-files:
  - "*.yml"

rules:
  braces:
    max-spaces-inside: 1
    level: "error"
  brackets:
    max-spaces-inside: 1
    level: "error"
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
    level: "error"
  commas:
    max-spaces-before: 0
    max-spaces-after: -1
    level: "error"
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation: "enable"
  document-start:
    present: true
  document-end:
    present: true
  empty-lines:
    max: 1
    level: "error"
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
  hyphens:
    max-spaces-after: 1
    level: "error"
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  key-duplicates: "enable"
  line-length:
    max: 160
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
    level: "warning"
  new-line-at-end-of-file: "enable"
  new-lines:
    type: "unix"
  trailing-spaces: "enable"
  truthy:
    allowed-values:
      - "true"
      - "false"
    check-keys: true
...
