Markdown
mdx-truly-sane-lists
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-exclude
mkdocs-include-markdown-plugin
mkdocs-markmap
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocstrings
Pygments
pymdown-extensions
