---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
# * Common to all playbooks
#

# Enable test mode?
auto_aplatform64_mode_test: false

# Enable debug mode?
auto_aplatform64_mode_debug: false
...
