{# // template: 280222 #}
{% if app_vscode_default_extensions is defined and app_vscode_default_extensions | length > 0 %}
{%   set app_vscode___setup_extensions = app_vscode___setup_extensions + app_vscode_default_extensions %}
{% endif %}
{% if app_vscode___setup_user['extensions'] is defined and app_vscode___setup_user['extensions'] | length > 0 %}
{%   set app_vscode___setup_extensions = app_vscode___setup_extensions + app_vscode___setup_user['extensions'] %}
{% endif %}
{% if app_vscode___setup_extensions | length > 1 %}
{
  "recommendations": [
{%   for app_vscode___setup_extension in app_vscode___setup_extensions %}
{%     for app_vscode___setup_item in app_vscode_catalog[app_vscode___setup_extension] %}
    "{{ app_vscode___setup_item }}",
{%     endfor %}
{%   endfor %}
  ]
}
{% endif %}
{{ '
' }}
