# {{ stg_autofs_managed_file }}

{% for stg_autofs___provision_share in stg_autofs___provision_map['shares'] %}
{{
    stg_autofs___provision_share['target'] + ' ' +
    '-' + stg_autofs___provision_share['options'] + ' ' +
    stg_autofs___provision_share['source']
}}
{% endfor %}
{{ '
' }}
