# {{ stg_autofs_managed_file }}

{{ stg_autofs_base['paths']['root'] + '/' + stg_autofs___provision_map['mount'] }} {{
    stg_autofs_base['paths']['auto_custom_d'] + '/' +
    'auto.' + stg_autofs___provision_map['name']
}}
{{ '
' }}
