# {{ sys_repository_alert_ansible_managed_file }}

deb {%if 'gpgkey' in sys_repository___provision_repo_apt %}[signed-by={{
    sys_repository_base['etc']['keyrings'] + '/' +
    sys_repository___provision_repo_apt['name'] + '.gpg'
}}]{% endif %} {{
    sys_repository___provision_repo_apt['url']
}} {{
    sys_repository___provision_repo_apt['suite']
}} {{
    sys_repository___provision_repo_apt['component'] | default('')
}}
{{ '
' }}
