# sys_repository_alert_ansible_managed_file

[{{ sys_repository___provision_repo_yum['name'] }}]
name={{ sys_repository___provision_repo_yum['description'] }}
baseurl={{ sys_repository___provision_repo_yum['url'] }}
enabled=1
{%if 'gpgkey' in sys_repository___provision_repo_yum%}
gpgcheck=1
gpgkey={{ sys_repository___provision_repo_yum['gpgkey'] }}
{%endif%}
{%if 'sslcacert' in sys_repository___provision_repo_yum%}
sslverify=1
sslcacert={{ sys_repository___provision_repo_yum['sslcacert'] }}
{%endif%}
{{ '
' }}
