---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

# List of users where default configurations will be created. Uncomment to enable
# app_vscode_users:
#   - name: ""
#     home: ""
#     extensions:
#       - ""

# List of default extensions for all users. Remove or comment out individual groups as needed
app_vscode_default_extensions:
{% for auto_aplatform64___setup_extension in (app_vscode_catalog | list) %}
  - "{{ auto_aplatform64___setup_extension }}"
{% endfor %}
...
{{ '
' }}
