---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

auto_ansible_control_site: "{{ auto_ansible_control_site }}"
auto_ansible_control_node: "{{ auto_ansible_control_node }}"
auto_ansible_control_python: "{{ auto_ansible_control_python }}"

auto_ansible_control_users:
  control:
    name: "{{ auto_ansible_control_users['control']['name'] }}"
    home: "{{ auto_ansible_control_users['control']['home'] }}"
    group: "{{ auto_ansible_control_users['control']['group'] }}"

auto_ansible_control_paths:
  root: "{{ auto_ansible_control_paths['root'] }}"
  var: "{{ auto_ansible_control_paths['var'] }}"

auto_ansible_control_key:
  type: "{{ auto_ansible_control_key['type'] }}"

auto_ansible_control_managed: "{{ '{{ groups.ansible_managed_nodes | default([]) }}' }}"
...
