---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

cloud_aws_realm_users:
  - name: "blgmgr"
  - name: "blgadtr"
  - name: "iammgr"
  - name: "iamadtr"
  - name: "srvmgr"
  - name: "srvadtr"

cloud_aws_realm_groups:
  - name: "billing_managers"
    users:
      - "blgmgr"
  - name: "billing_auditors"
    users:
      - "blgadtr"
  - name: "iam_managers"
    users:
      - "iammgr"
  - name: "iam_auditors"
    users:
      - "iamadtr"
  - name: "service_managers"
    users:
      - "srvmgr"
  - name: "service_auditors"
    users:
      - "srvadtr"

cloud_aws_realm_account:
  id: "**changeme**"
  name: "**changeme**"

cloud_aws_realm_api:
  root:
    key: "**changeme**"
    secret: "**changeme**"
  iam_manager_auto:
    key: "**changeme**"
    secret: "**changeme**"
  cloud_manager_auto:
    key: "**changeme**"
    secret: "**changeme**"
...
