---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

dops_git_server_application:
  name: "git"
  type: "distro"
  version: "latest"
  installed: true

dops_git_server_subsystem:
  enabled: false
  status: "stopped"

dops_git_server_paths:
  root: "/srv/git"

dops_git_server_repositories:
  - name: "dev"
    description: "Dev repository"
    public_keys: []
...
