---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

dops_jenkins_subsystem:
  enabled: true
  status: "started"

dops_jenkins_server_options:
  port: "8080"
  listen_address: ""

dops_jenkins_firewall:
  zone: "public"
...
