---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

dops_git_client_application:
  client:
    name: "git"
    type: "distro"
    version: "latest"
    installed: true
  extras:
    name: "extras"
    type: "distro"
    version: "latest"
    installed: true

dops_git_client_repositories: []

dops_git_client_users: []
...
