---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

infra_terraform_paths:
  root: "{{ auto_ansible_control_base['paths']['root'] }}"
  etc: "{{
    auto_ansible_control_base['paths']['site_etc_groups'] + '/' +
    auto_aplatform64___setup_group_role['host_group'] + '/' +
    'infra_terraform' }}"
  var: "{{
    auto_ansible_control_base['paths']['site_var_groups'] + '/' +
    auto_aplatform64___setup_group_role['host_group'] + '/' +
    'infra_terraform' }}"
  src: "{{
    auto_ansible_control_base['paths']['site_files_groups'] + '/' +
    auto_aplatform64___setup_group_role['host_group'] + '/' +
    'infra_terraform' }}"

infra_terraform_users:
  terraform:
    name: "{{ auto_ansible_control_users['control']['name'] }}"
    group: "{{ auto_ansible_control_users['control']['group'] }}"
    home: "{{ auto_ansible_control_users['control']['home'] }}"

infra_terraform_projects:
  - name: "default"
...
