---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

stg_nfs_server_application:
  name: "nfs_server"
  type: "distro"
  version: "latest"
  installed: true

stg_nfs_server_subsystem:
  enabled: true
  status: "started"

stg_nfs_server_firewall:
  zone: "public"

stg_nfs_server_exports: []
...
