---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

sys_user_accounts:
  - name: "jw01"
    description: "Jenkins Worker Node - Remote Access"
    home: "/home/jw01"
    shell: "/usr/bin/bash"
    locked: false
    system: false
...
