---
#
# A:Platform64 / Ansible role settings / Site: {{ auto_ansible_control_site }}
#
# * Role settings are available only for the corresponding host group and associated playbook
#

sys_shell_catalog:
  zsh: true
  bash: true
  ksh: false
  csh: false

sys_shell_users: []
...
