# {{ sys_shell_alert_ansible_managed_file }}

{% if 'include_system' in sys_shell___setup_profile and sys_shell___setup_profile['include_system'] %}
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi
{% endif %}

{% if 'variables' in sys_shell___setup_profile and sys_shell___setup_profile['variables']['0']['name'] is not none %}
{%   for sys_shell___setup_item in sys_shell___setup_profile['variables'] %}
{{ sys_shell___setup_item['name'] }}='{{ sys_shell___setup_item['value'] }}'
{%     if sys_shell___setup_item['export'] %}
export {{ sys_shell___setup_item['name'] }}
{%     endif %}
{%   endfor %}
{% endif %}

{% if 'sources' in sys_shell___setup_profile and (sys_shell___setup_profile['sources'] | length > 0) %}
{%   for sys_shell___setup_item in sys_shell___setup_profile['sources'] %}
source "{{ sys_shell___setup_item }}"
{%   endfor %}
{% endif %}

{% if 'paths' in sys_shell___setup_profile  and (sys_shell___setup_profile['paths'] | length > 0) %}
{%   set sys_shell___setup_path = namespace( x = '' ) %}
{%   for sys_shell___setup_item in sys_shell___setup_profile['paths'] %}
{%     set sys_shell___setup_path.x = sys_shell___setup_path.x + ':' + sys_shell___setup_item %}
{%   endfor %}
PATH="/usr/bin{{ sys_shell___setup_path.x }}"
export PATH
{% endif %}
{{ '
' }}
