[user]
	name = {{ dops_git_client___setup_user['user_name'] }}
	email = {{ dops_git_client___setup_user['user_email'] }}

[init]
    defaultBranch = {{ dops_git_client___setup_user['default_branch'] | default(dops_git_client_defaults['branch']) }}
