[desktop]
computer-icon-visible=false
home-icon-visible=false
trash-icon-visible=false

[list-view]
default-column-order=['name', 'size', 'type', 'date_modified', 'date_created_with_time', 'date_accessed', 'date_created', 'detailed_type', 'group', 'where', 'mime_type', 'date_modified_with_time', 'octal_permissions', 'owner', 'permissions', 'selinux_context']
default-visible-columns=['name', 'size', 'type', 'date_modified', 'group', 'owner', 'permissions']

[preferences]
default-folder-viewer='list-view'
ignore-view-metadata=true
inherit-folder-viewer=true
inherit-show-thumbnails=true
show-advanced-permissions=true
show-computer-icon-toolbar=true
show-hidden-files=true
show-home-icon-toolbar=true
show-new-folder-icon-toolbar=true
show-open-in-terminal-toolbar=true
show-show-thumbnails-toolbar=true

[preferences/menu-config]
selection-menu-copy-to=true
selection-menu-duplicate=true
selection-menu-make-link=true
selection-menu-move-to=true

[window-state]
bookmarks-expanded=true
geometry='1292x575+304+228'
maximized=false
side-pane-view='places'
sidebar-bookmark-breakpoint=5
sidebar-width=316
start-with-sidebar=true
