---
sys_package_platforms:
  - "CentOS8"
  - "OracleLinux8"
  - "Ubuntu20"
  - "Ubuntu21"
  - "Fedora33"
  - "Fedora35"
  - "Debian10"
  - "Debian11"

sys_package_os_family: "
  {%- if
  ( ansible_distribution == 'CentOS' ) or
  ( ansible_distribution == 'OracleLinux' ) or
  ( ansible_distribution == 'Fedora' )
  -%}
  {{ 'RedHat' }}
  {%- elif
  ( ansible_distribution == 'Debian' ) or
  ( ansible_distribution == 'Ubuntu' )
  -%}
  {{ 'Ubuntu' }}
  {%- else -%}
  {{ 'Linux' }}
  {%- endif -%}
  "

sys_package_base:
  paths:
    var: "/var/opt/sys_package"
    staging: "/var/opt/sys_package/staging"
    repository: "/var/opt/sys_package/repository"
  templates:
    pip_loader_sh: "pip_loader.sh.j2"
  access:
    owner: "root"
    group: "root"
    mode:
      dir: "0755"
      file: "0644"
      private: "0600"
      exe: "0755"
      setype: "{{ omit }}"

# Configurable parameters for package managers
sys_package_configuration:
  download:
    timeout: "30"
  binary:
    timeout: "30"
  deb:
    timeout: "30"
  rpm:
    timeout: "30"
  dnf:
    lock_timeout: "10"

sys_package_flavours:
  - "distro"
  - "binary"
  - "snap"
  - "flatpak"
  - "git"
  - "rpm"
  - "deb"
  - "pip"

# Select the target application from the profile list
sys_package___application:
  supported: "{{ sys_package_application['supported'] | default(true) }}"
  type: "{{ sys_package_application['type'] }}"
  name: "{{ sys_package_application['name'] }}"
  version: "{{ sys_package_application['version'] }}"
  packages: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'packages'
    ]
    }}"
  origin: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'origin'
    ] | default( '' )
    }}"
  options: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'options'
    ] | default( {} )
    }}"
  promotion: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'promotion'
    ] | default( [] )
    }}"
  paths: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'paths'
    ] | default( [] )
    }}"
  cleanup: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'cleanup'
    ] | default( {} )
    }}"
  script: "{{
    sys_package_profiles[
    sys_package_application['type']
    ][
    sys_package_application['version']
    ][
    'script'
    ] | default( {} )
    }}"
  staging: "{{
    sys_package_base['paths']['staging'] + '/' +
    sys_package_application['name']
    }}"
  repository: "{{
    sys_package_base['paths']['repository'] + '/' +
    sys_package_application['name']
    }}"

#sys_package___provision_paths: ~
#sys_package___provision_binary: ~
#sys_package___initialize_check: {}
#sys_package___initialize_path: []
#sys_package___provision_promote: ~
#sys_package___provision_file: ~
#sys_package___provision_flatpak: ~
#sys_package___provision_snap: ~
#sys_package___provision_deb: ~
#sys_package___provision_rpm: ~
sys_package___initialize_status: ~
sys_package___provision_repository_status: ~
sys_package___provision_script_status: ~
sys_package___provision_script_file: ~
sys_package___provision_download_status: ~
sys_package___provision_result: ~
sys_package___provision_uncompress: ~
sys_package___provision_test: ~
sys_package___provision_task_download: ~

sys_package_alert_ansible_managed_file:
  "Warning: This file is automatically generated by the Ansible Role: serdigital64.system.sys_package. Do not modify."
...
