---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
cloud_control_nodes_apps:
  aws: true
  azure: true
  foundry: true
  google: true
  ibm: true
  terraform: true
...
