---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
linux_workstations_component:
  autofs: false
  cinnamon: false
  dconf: false
  docker: false
  fonts: true
  mc: true
  openssh_client: true
  openssh_server: true
  podman: false
  shell: true
  sudo: true
  tilix: false
  users: true
...
