---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
office_nodes_apps:
  chrome: false
  darktable: false
  drawio: false
  gimp: false
  inkscape: false
  keepassxc: false
  kryta: false
  libreoffice: false
  msteams: false
  obs: false
  shotcut: false
  skype: false
  spotify: false
  zoom: false
...
