---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
office_nodes_apps:
  blender: false
  chrome: false
  darktable: false
  drawio: false
  firefox: false
  freecad: false
  gimp: false
  inkscape: false
  keepassxc: false
  kryta: false
  libreoffice: false
  msteams: false
  obs: false
  pinta: false
  pitivi: false
  shotcut: false
  slack: false
  skype: false
  spotify: false
  zoom: false
...
