---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
linux_servers_component:
  autofs: false
  fonts: true
  mc: true
  shell: true
  sudo: true
  users: true
...
