---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
dev_nodes_apps:
  gcc: false
  git_client: true
  java: false
  nodejs: false
  python: false
  ruby: false
  tools: true
  vagrant: false
  vscode: false
...
