---
- name: "DevOps / YAMLLint / Deploy / Package / Provision application"
  vars:
    sys_package:
      provision: true
    sys_package_application: "{{ dops_yamllint_application }}"
    sys_package_profiles: "{{ dops_yamllint_profiles }}"
  ansible.builtin.include_role:
    name: "serdigital64.system.sys_package"
...
