#!/bin/sh
#######################################
#
# Set Ansible control node shell environment for the site: {{ auto_ansible_control_site }}
#
# {{ auto_ansible_control_managed_file }}
#
#######################################

#
# A:Platform64 settings
#

APLATFORM64_SITE="{{ auto_ansible_control_site }}"
export APLATFORM64_SITE

APLATFORM64_MANAGER="{{ auto_ansible_control_users['control']['name'] }}"
export APLATFORM64_MANAGER

APLATFORM64_ROOT="{{ auto_ansible_control_base['paths']['root'] }}"
export APLATFORM64_ROOT

APLATFORM64_KEYS="{{ auto_ansible_control_base['paths']['site_keys'] }}"
export APLATFORM64_KEYS

APLATFORM64_LOGS="{{ auto_ansible_control_base['paths']['site_logs'] }}"
export APLATFORM64_LOGS

APLATFORM64_TMP="{{ auto_ansible_control_base['paths']['site_tmp'] }}"
export APLATFORM64_TMP

APLATFORM64_CACHE="{{ auto_ansible_control_base['paths']['site_cache'] }}"
export APLATFORM64_CACHE

APLATFORM64_CFG="{{ auto_ansible_control_base['paths']['site_cfg'] }}"
export APLATFORM64_CFG

APLATFORM64_INVENTORIES="{{ auto_ansible_control_base['paths']['site_inventories'] }}"
export APLATFORM64_INVENTORIES

APLATFORM64_GROUP_VARS="{{ auto_ansible_control_base['paths']['site_group_vars'] }}"
export APLATFORM64_GROUP_VARS

#
# Ansible Paths
#

ANSIBLE_PLAYBOOK_DIR="{{ auto_ansible_control_base['paths']['site_playbooks'] }}"
export ANSIBLE_PLAYBOOK_DIR

ANSIBLE_CONFIG="{{ auto_ansible_control_base['files']['ansible_cfg'] }}"
export ANSIBLE_CONFIG

ANSIBLE_CONFIG_DEBUG="{{ auto_ansible_control_base['files']['ansible_debug_cfg'] }}"
export ANSIBLE_CONFIG

ANSIBLE_GALAXY_TOKEN_PATH="{{ auto_ansible_control_base['files']['galaxy_token'] }}"
export ANSIBLE_GALAXY_TOKEN_PATH

ANSIBLE_PERSISTENT_CONTROL_PATH_DIR="{{ auto_ansible_control_base['paths']['site_persistence'] }}"
export ANSIBLE_PERSISTENT_CONTROL_PATH_DIR

ANSIBLE_PRIVATE_KEY_FILE="{{ auto_ansible_control_base['files']['managed_private_key'] }}"
export ANSIBLE_PRIVATE_KEY_FILE

ANSIBLE_LOG_PATH="{{ auto_ansible_control_base['files']['ansible_log'] }}"
export ANSIBLE_LOG_PATH

ANSIBLE_COLLECTIONS_PATHS="{{ auto_ansible_control_base['paths']['collections'] }}"
export ANSIBLE_COLLECTIONS_PATHS

ANSIBLE_INVENTORY="{{ auto_ansible_control_base['files']['ansible_inventory'] }}"
export ANSIBLE_INVENTORY

ANSIBLE_VAULT_PASSWORD_FILE="{{ auto_ansible_control_base['files']['control_secret'] }}"
export ANSIBLE_VAULT_PASSWORD_FILE

ANSIBLE_ROLES_PATH="{{ auto_ansible_control_base['paths']['roles'] }}"
export ANSIBLE_ROLES_PATH

ANSIBLE_SSH_CONTROL_PATH_DIR="{{ auto_ansible_control_base['paths']['site_persistence'] }}"
export ANSIBLE_SSH_CONTROL_PATH_DIR

ANSIBLE_CACHE_PLUGIN_CONNECTION="{{ auto_ansible_control_base['paths']['site_cache'] }}"
export ANSIBLE_CACHE_PLUGIN_CONNECTION

ANSIBLE_GALAXY_CACHE_DIR="{{ auto_ansible_control_base['paths']['site_cache'] }}"
export ANSIBLE_GALAXY_CACHE_DIR

ANSIBLE_RETRY_FILES_SAVE_PATH="{{ auto_ansible_control_base['paths']['site_tmp'] }}"
export ANSIBLE_RETRY_FILES_SAVE_PATH

